@tailwind base;
@tailwind components;
@tailwind utilities;
#light {
    background-color: #ffffff;
}

#dark {
    background-color: #2c3533;
}

#light .hello {
    color:#213547
}

#light .text {
    color:#213547
}

#light .overlay {
    background-color: #eae3e3;
}

#dark .overlay {
    background-color: #213547;  
}

#light .right-cont {
    background-color: rgb(53, 63, 62);
}

#dark .right-cont {
    background-color: rgb(53, 63, 62);
}

.projects-line {
    background-color: rgb(53, 63, 62);
}

.skills-left-cont {
    background-color: rgb(53, 63, 62);
}

#light .skill-logos {
    color: black
}
.contact-div {
    background-color: rgb(53, 63, 62);
}

.transition-line {
    background-color: rgb(53, 63, 62);
}