@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FuturaPTBook';
  src: local('FuturaPTBook'), url(./fonts/FuturaPTBook.otf) format('opentype');
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: local('FuturaPTMedium'), url(./fonts/FuturaPTMedium.otf) format('opentype');
}

@font-face {
  font-family: 'FuturaPTBold';
  src: local('FuturaPTBold'), url(./fonts/FuturaPTBold.otf) format('opentype');
}

@font-face {
  font-family: 'HackRegular';
  src: local('HackRegular'), url(./fonts/Hack-Regular.ttf) format('truetype');
}


:root {
  font-family: FuturaPTMedium;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* body {
  height: 100vh;
} */

/* html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
} */


* {
  margin: 0;
  padding: 0;
}